<h1>Code Challenge!</h1>
<p>Welcome to my solution for a code challenge, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Responsabilities:</p>
<ul>
  <li><strong>Currency Rates</strong>. Get Currency rates from http://www.bancoprovincia.com.ar/Principal/Dolar.</li>
  <li><strong>Buy Currency</strong>. Based on limits configuration user will be able to buy a certain exchange from ARS to USD or BRL.</li>  
</ul>
